    /* my search button*/
    .search{
        opacity: 2;
        background-color: darkgray;
        align-items: center;
        cursor: pointer;
    }

    .search :hover{
        opacity: 0.7;
        cursor: text;
    }
    

    /*body css code*/
    body{
        align-items: center;
        overflow-x: hidden;
        
        background-image: url('globe.gif');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100vw;
    }
    #menu{
        transform:translate(0px,-20px);
        height: 5%;
        width: 100%; 
        float: left;
    }

    .tabus{
       opacity: 5;
       transform: translate(auto,30%);
       border:2px solid rgb(11, 26, 20);
       background-color: rgb(7, 32, 80);
       margin-top: 3.5vw;
       width: auto;
       height: auto;
       align-items: center;
      

    }

      /*my css for the title of the page div*/
    .pagetitle{
        
        margin-top: 1%;
        height: 5%;
        width: 100%; 
        float: left;
    } 

    /*this is the division containing all content from beneath th tab menu*/
    .content{
       
        text-decoration: none;
    }

       
    .a1{
        color: white;
        margin-left: 10px;
        margin-right: 10px;

     }

    .a1:hover{
        color: black;
    }

          /*label css menu bar*/
    .label1{
        height: auto;
        font-weight: 400;
        background-color: rgb(2, 16, 32);
        border-color: black;
        border-radius: 6px; 
        margin: 20px;
        
    }

        /* my hovering css code*/
    .label1:hover{
        height: 40%;
        width: 20%;
        font-weight: 550;
        background-color: white;
        text-decoration: underline;
        border-radius: 6px;
        
    }


    /*left css some higlights*/
    .left{
        float: left;
        width: 18%;
        height: 89%;   
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
        position: inherit;
    }

    /*middle css for the main content or news*/
    .middle{
        float: left;
        width: 47%;
        height: 89%;   
        background-color: lightgray;
        background-position: inherit;
        size: initial;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 2;    
        position: inherit;    
        
    }
    a.middle{
        text-decoration: none;
    }

    /*right css that might contain ads*/
    .right{
        float: left;
        width: 29.5%;
        height: 89%;   
        background-color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-right: 10px;
        opacity: 1;
        background-image: url('together.jpg');
        
    }     

    .form{
        background-color: lime;
        align-self: center;
        width: 300px;
        height: 250px;
    }

    /*for login button*/
    /* The popup form - hidden by default */
    .form:hover {
      display: none;
      position: relative;
      top: 2px;
      right: 15px;
      border: 3px solid #f1f1f1;
      background-color: darkgoldenrod;
    }

    #adjust{
      height:2px;
      width: 89px;
      transform: translate(-10%,-50px);
      background-color: indigo;
    }

    /*image in div left property*/
    .img{
      height: 30%;
      width: auto;
      
    }
    
    /*images in the left div part i think*/
    .imglinks{
      color:black;
      float: left;

    }

    /* the sign-in inside a container */
    .sign-in-container{
      position: fixed;
      color: pink;
    }

    /*the upper most division*/
    .upperdiv{
        transform: translate(-18vw,0vw); 
        background-color: rgb(15, 14, 14);
        padding-left: 60px;
        width: 120%;
        margin-left: 12vw;
    }

    @media (min-width: 400px) {
        
    }

    @media screen and (min-width: 640px) {
        body {
          background-color: lightgreen;
        }
      }